@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flexbox($ai, $jc) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $jc;
  align-items: $ai;
}
$font-weight: (
  "Light": 300,
  "regular": 400,
  "bold": 700,
  "heavy": 900,
);
$font-family: "Chivo", sans-serif;
$backgroundImage: (
  "mobile": "../assets/mobile//image-host.jpg",
  "tablet": "../assets/tablet//image-host.jpg",
  "desktop": "../assets/desktop//image-host.jpg",
);
.bg-centerd {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow-x: hidden;
}
body {
  font-family: $font-family;
  font-size: 18px;
  background-image: url(map-get($map: $backgroundImage, $key: "mobile"));
  background-color: #121725;
  @extend .bg-centerd;
  color: white;
  .container {
    width: 78.5vw;
    margin: auto;
    padding-bottom: 94px;
    position: relative;
    .header__container img {
      margin: 62px auto;
      display: block;
    }
    main {
      position: relative;
      top: 25px;
      .hero {
        h1 {
          font-size: 1.65rem;
          line-height: 38px;
          text-align: center;
          text-transform: uppercase;
          color: #54e6af;
          span {
            color: white;
          }
        }
        p {
          font-size: 0.933rem;
          font-weight: 100;
          line-height: 25px;
          color: #c2cbe5;
          text-align: center;
          margin-top: 16px;
        }
      }
      .socials {
        @include flexbox(baseline, space-between);
        margin: 33px auto 0;
        .spotify {
          width: 17.2%; // 56px;
        }

        .apple {
          width: 14%; // 45px;
        }

        .google {
          width: 22.28%; // 73px;
        }

        .pocket {
          width: 23.5%; // 77px;
        }
      }
      form {
        margin-top: 48px;
        position: relative;
        input[type="submit"],
        label {
          display: block;
        }
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background-color: #54e6af;
          border-radius: 30px;
          border: none;
          line-height: 28px;
          font-size: 0.93rem;
          color: #121725;
          font-weight: map-get($map: $font-weight, $key: "bold");
        }
        input.submitDocs {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 30px;
          line-height: 28px;
          padding-left: 25px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 690px) {
  body {
    background-blend-mode: normal;
    background-size: 64%;
    background-position: right top;
    background-image: url(map-get($map: $backgroundImage, $key: "tablet"));

    .container {
      margin: auto 39px;
      .header__container img {
        margin-left: 0;
        margin-top: 50px;
      }
      main {
        width: 100%;
        top: 120px;
        background-color: #121725;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
        .hero {
          padding-top: 93px;
          h1 {
            text-align: left;
            font-size: 2.667rem;
            line-height: 56px;
            letter-spacing: 3px;
          }
          p {
            text-align: left;
            margin-top: 31px;
            width: 70.2%;
            font-size: 1rem;
            line-height: 28px;
          }
        }
        form {
          width: 427px;
          grid-area: 2/1;
          input[type="submit"] {
            position: absolute;
            top: 5px;
            width: 200px;
            right: 3px;
            &:hover {
              cursor: pointer;
            }
          }
          .submit_email {
            padding: 15px;
            background-color: #2c344b;
            margin-bottom: 0;
          }
        }
        .socials {
          width: 84.5%;
          margin-left: 0;
        }
      }
      footer {
        display: block;
        position: absolute;
        left: 0;
        width: 232px;
        bottom: -203px;
        z-index: 4;
        img {
          width: 100%;
          display: block;
          margin: auto;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 244px;
        background-color: #121725;
        bottom: -180px;
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 1640px) {
  .container {
    width: 1400px;
    margin: auto;
  }
}
@media screen and (min-width: 980px) {
  .container::before {
    height: 180px;
    bottom: -203px;
  }
}
@media screen and (min-width: 1220px) {
  body {
    background-image: url(map-get($map: $backgroundImage, $key: "desktop"));
    background-position: right 135px;
    .container {
      margin: auto 165px;
      .header__container img {
        margin: 102px auto 0 0;
      }
      main {
        width: 60%;
      }
      footer {
        left: auto;
        right: -150px;
        width: 232px;
        bottom: -33px;
      }
    }
  }
}
